<mat-card>
    <mat-card-header>
        <h1>User Login</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="username" id="username">
            </mat-form-field> 
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" id="password" type="password">
            </mat-form-field>
            <div class="btn">
                <button mat-raised-button color="primary"  type="submit">Submit</button>&nbsp;
                <a routerLink="/register" mat-raised-button color="accent">New User..?</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
